{% extends "base.html" %}
{% block title %}
    Список курсов
{% endblock %}
{% block body %}
    {% include "includes/inc-menu.html" %}
    <h1>Список курсов</h1>
    <ul class="list-group">
        {% for item in objects_list %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ item.name }}
                <span><a href="/copy-course/?name={{ item.name }}">Скопировать</a></span>
            </li>
        {% endfor %}
    </ul>
    <a class="link" href="/create-course/">Создать курс...</a>
{% endblock %}